#minimap {
    position: absolute;
    top: 20px;
    left: 950px;
    border: 2px solid black;
}

.unit {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(units.png);
    z-index: 5;
    background-size: 900%;
    color: red;
}

.boat {
    background-position-x: -499px;
    background-position-y: -304px;
}

.scout {
    background-position-x: -297px;
    background-position-y: -600px;
}

.settler {
    background-position-x: -95px;
    background-position-y: -500px;
}