#main {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 2000px;
}

#canvasdiv {
    position: absolute;
    top: 20px;
    left: 950px;
    width: 304px;
    height: 304px;
    overflow: hidden;
}

#minimap {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid black;
}

#minimapborder {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 30px;
    height: 50px;
    z-index: 10;
    border: 2px solid black;
}

.unit {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(units.png);
    z-index: 5;
    background-size: 900%;
    color: red;
}

.boat {
    background-position-x: -499px;
    background-position-y: -304px;
}

.scout {
    background-position-x: -297px;
    background-position-y: -600px;
}

.settler {
    background-position-x: -95px;
    background-position-y: -500px;
}

.city {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(storgressby.png);
    background-size: contain;
    z-index: 2;
}

#twitter {
    position: relative;
    top: 580px;
    left: 835px;
    width: 60px;
}
#endturn {
    position: absolute;
    top: 580px;
    left: 800px;
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
	background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
}
#endturn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
	background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
	background-color:#ce0100;
}
#endturn:active {
	top:581px;
}

@-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}
  
@-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
  
@keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
  
#endturn {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

#uibuttons {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 90px;
    height: 600px;
}
.uibutton {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: red;
}

#button1, #button2, #button3, #button4 {
    visibility: hidden;
}

#cityui {
    position: absolute;
    top: 340px;
    left: 950px;
    width: 300px;
    height: 250px;
    border: 2px solid black;
}
#scrollable {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}
#purchaseswitch {
    position: absolute;
    top: 212px;
    height: 30px;
}

#currentlybuilding {
    position: absolute;
    top: 208px;
    left: 150px;
}

#unitheader, #buildingheader {
    width: 278px;
    height: 25px;
    border: 1px solid black;
    font-size: 1.2em;
}
.unitbuyoption, .buildingbuyoption {
    width: 278px;
    height: 40px;
    border: 1px solid black;
    font-size: 1em;
}

#selectedinfo {
    position: absolute;
    top: 575px;
    left: 10px;
    width: 150px;
    height: 55px;
    border: 2px solid black;
}

#dialoguebox {
    position: absolute;
    top: 575px;
    left: 180px;
    width: 600px;
    height: 55px;
    border: 2px solid black;
}

#gold {
    position: absolute;
    left: 100px;
    top: 0px;
    font-size: 1.2em;
}

#science {
    position: absolute;
    left: 200px;
    top: 0px;
    font-size: 1.2em;
}

.builduiimg {
    position: absolute;
    left: 235px;
    width: 40px;
    height: 40px;
}
#goldicon {
    width: 20px;
    height: 20px;
}

#scienceicon {
    width: 20px;
    height: 20px;
}
#foodicon {
    width: 15px;
    height: 15px;
}

#populationicon {
    width: 15px;
    height: 15px;
}